header {
  display: flex;
  gap: 3rem;
  padding: 2rem
}

header nav {
  display: flex;
  color: orange;
  gap: 50px;
}

main {
  display: flex;
  padding: 10rem 6rem;

}

body {
  background-color: #061130;
  flex-direction: column;
  color: white;
  margin: 0px;
}

footer {
  background-color: white;


  color: black;
}

nav {
  gap: 2rem
}

.links {
  background-color: white;
  padding: 3rem 10rem;
  color: black
}

.yellow {
  color: yellow;
}

.very-bottom {
  background-color: #f3f6f8;
}

.display-flex {
  display: flex;
}

.justify-center {
  justify-content: center;
}

.justify-space {
  justify-content: space-between;

}

.column {
  flex-direction: column;
}

.align-center {
  align-items: center;
}